Repository UCR-CS110-S23/project-novo, pull requests merged in 2023-05, with the labels that each got.

#29 Added MongoDB and Next Authentication libraries
  .gitignore
  lib/mongodb.js
  package-lock.json
  package.json
Labels: Ready For Review, Backend

#33 Activity Profile Done + Cart Done and Fixed Columns
  components/ActivitiesCart.jsx
  components/ActivityCartCard.jsx
  components/NavBar.jsx
  pages/activityProfile.js
  public/beach.png
Labels: Ready For Review, Frontend, Activity Profile

#41 Activity Feed Finished
  components/ActivityFeedCards.jsx
  components/NavBar.jsx
  pages/activityFeed.js
  public/disneyCard.jpg
Labels: Activities, Ready For Review, Navigation, Frontend

#42 Profile Creation Pages DONE
  components/ProgressBar.jsx
  components/Questions.jsx
  pages/profileCreation.js
  public/progress.svg
  public/purpleLogo.svg
  tailwind.config.js
Labels: Ready For Review, Profile Creation, Frontend

#47 Profile Creation: More Questions
  components/ProgressBar.jsx
  components/Questions.jsx
  pages/profileCreation.js
Labels: Ready For Review, Profile Creation, Frontend

#40 Authentication
  .eslintrc.js
  components/WelcomeLanding.jsx
  components/WelcomeText.jsx
  lib/mongodb.js
  package-lock.json
  package.json
  pages/_app.js
  pages/api/auth/[...nextauth].js
  pages/index.js
Labels: Landing, Ready For Review, Backend, Authentication

#50 Rough "Edit Profile" page finished
  components/AddActivityCard.jsx
  components/AddActivityPopUp.jsx
  components/AddPicture.jsx
  components/NavBar.jsx
  components/ProfilePicture.jsx
  pages/editProfile.js
  public/addSymbol.png
  public/uploadPhoto.png
Labels: Ready For Review, Profile, Frontend
